.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fbc2eb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
  }
#profile {
  align-items: center;
  background-color: #000000;
}
#profie-img {
  margin: 20px;
}
#data {
  margin-left: 30px;
  margin-top: 20px;

  align-items: center;

  color: rgb(255, 255, 255);
}
/* Profile.css */

#profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#profile-img {
  margin-right: 20px;
}

#data {
  flex: 1;
}

#data button {
  background: none;
  border: none;
  cursor: pointer;
}

#guide-interface-container {
  position: fixed;
  top: 100px;
  right: 20px;
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#guide-interface-container button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}



.nav-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.brand-logo {
  margin-left: 20px;
}

#nav-mobile {
  align-items: center;
  list-style-type: none;
}

#nav-mobile li {
  margin-left: 20px;
}

#logout-btn {
  background: none;
  border: none;
  cursor: pointer;
}

#logout-btn:hover {
  color: #555;
}
#feedback-btn {
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
  color: #000000;



 }

#feedback-btn:hover {
  color: #000000;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .nav-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .brand-logo {
    margin-left: 10px;
    font-size: 1.2em;
  }

  #nav-mobile {
    flex-direction: column;
    align-items: flex-start;
  }

  #nav-mobile li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  #logout-btn {
    margin-top: 10px;
  }
}
